{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block main %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">About</h1>
        </div>
        <div class="col-md-12">
            PHP library for use with the Twitter OAuth REST API <a href="https://twitteroauth.com/" target="_blank">https://twitteroauth.com</a></br></br>
            <hr>
        <p>
            MIT License</br></br>

            Copyright (c) 2018 Charlybs <a href="https://github.com/charlybs" target="_blank">https://github.com/charlybs</a></br></br>

            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:</br></br>

            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.</br></br>

            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </p>
        <hr>
        Symfony 3.4.x | PHP 7.2.x | Bootstrap v4.1.x
    </div>
    </main>
    
{% endblock %}

{% block javascripts %}
{% endblock %}