{% extends 'base.html.twig' %}

{% block title %}Search users{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block main %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Trends</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary">Bot贸n1</button>
                    <button class="btn btn-sm btn-outline-secondary">Bot贸n2</button>
                    <button class="btn btn-sm btn-outline-secondary">Bot贸n3</button>
                    <button class="btn btn-sm btn-outline-secondary">Bot贸n4</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p>Returns the top 50 trending topics for a specific WOEID (1=WORLDWIDE), if trending information is available for it.</p>
            <pre>
                {% if contenido is not null %}
                    {{ dump(contenido) }}
                {% endif %}
            </pre>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}